* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/
header {
    background: white;
    margin-bottom: 10px;
    position: fixed;
}

/*Nav Bar*/
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9ceb6;
  }
  
  li {
    float: left;
  }
  
  ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 nav a:hover {
    background-color: white;
    color: #e9ceb6;
 }*/

 .active {
    color: darkslategray;
 }


/* Main Content */

/* About Us Styles */
 main {
    flex: 1 0 auto;
    background-color: #faf4ee;
 }

 #newborn-image {
    width: 100%;
    margin-top: 100px;
 }

 #about-us-text {
  background-color: #f5e9de;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 160px;
  padding: 20px;
  border-radius: 10%;
  border: #e9ceb6 2px solid;
  font-family: "Ubuntu", sans-serif;

 }

/* Our Process Styles*/
 h2 {
    margin-left: 50px; 
    margin-top: 30px;
 }

 .process-steps {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
 }

 /* Form Styles*/
  .form-lines {
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: "Ubuntu", sans-serif;
 }

 input {
  margin-top: 10px;
 }

 legend {
  margin-bottom: 25px;
 }

 #submit-button {
  background-color: #e9ceb6;
  padding: 5px;
 }
 
/* Footer */
footer {
    background-color: #e9ceb6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#social-networks {
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
    display: flex;
}

#contact-us {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

.contact-info {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}