* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/
header {
    background: white;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
}

#logo {
  max-height: 10vh;
  width: auto;
}

/*Nav Bar*/
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9ceb6;
    font-family: "Ubuntu", sans-serif;
  }
  
  li {
    float: left;
  }
  
  ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 nav a:hover {
    background-color: white;
    color: #e9ceb6;
 }*/

 .active {
    color: darkslategray;
 }


/* Main Content */

/* About Us Styles */
 main {
    flex: 1 0 auto;
    background-color: #faf4ee;
 }

 #newborn-image {
    width: 100%;
    margin-top: 17vh;
 }

 #about-us-text {
  background-color: #f5e9de;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 160px;
  padding: 20px;
  border-radius: 10%;
  border: #e9ceb6 2px solid;
  font-family: "Ubuntu", sans-serif;

 }

/* Our Process Styles*/
 h2 {
    margin-left: 50px; 
    margin-top: 20vh;
    font-family: "Ubuntu", sans-serif;
 }

 .process-steps {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
 }

 /* Form Styles*/
  form {
    margin-top: 19vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .form-lines {
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: "Ubuntu", sans-serif;
 }

 input {
  margin-top: 10px;
 }

 legend {
  margin-bottom: 25px;
 }

 #submit-button {
  background-color: #e9ceb6;
  padding: 5px;
 }

 /* Form confirmation page */
 #form-submission-message {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Ubuntu", sans-serif;
 }

 #submission-box {
  background-color: white;
  color: #d9aa80;
  margin-top: 30vh;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-radius: 10%;
  border: #e9ceb6 2px solid;
  font-family: "Ubuntu", sans-serif;

 }
 
/* Footer */
footer {
    background-color: #e9ceb6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-height:fit-content;
}

#social-networks {
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
    display: flex;
}

#contact-us {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

.contact-info {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  #logo {
    max-height: 10vh;
  }
  #newborn-image {
    width: 65%;
    float: left;
    display: inline-block;
  }
  #about-us-text {
    text-align: center;
    vertical-align: middle;
    margin-top: 30vh;
    margin-right: 5vw;
    min-height: 40vh;
    padding: 30px;
    padding-top: 8vh;
    width: 25%;
    float: right;
    display: inline-block
  }

  #submission-box {
    margin-left: 33%;
    margin-right: 33%;
  }