* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/
header {
    background: beige;
}

/* Main Content */
main {
    flex: 1 0 auto;
}

#newborn-image {
    background: url(assets/images/pexels-rene-asmussen-2505101.jpg) no-repeat fixed;
    background-size: cover;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
    position: fixed;
    bottom: 0;
    left: 0;
}